<h1>About Us</h1>
<ul>
  <li><p>Mojatatu Networks provides a Programmable Network Operating System for Software Driven Networks (SDN) based on open standards and open source</p></li>
  <li><p>When you use Mojatatu Networks solutions, you are adopting open standards and open source while keeping your own distinct product value-add. We believe these are the key requirements to reduce the adoption costs and encourage innovation for your packet processing solution</p></li>
</ul>
