<h1>Contacts</h1>
<!-- <h2> Mojatatu Networks </h2> -->
<p>
<%= link_to image_tag("address_icon.jpg")%> Suite 400, 303 Moodie Drive, Ottawa, ON, Canada, K2H 9R4
</p>
<p>
<%= link_to image_tag("email_icon.png")%> info@mojatatucom
</p>
<p>
<%= link_to image_tag("phone_icon.gif")%> +1 (613) 596-1138
</p>
<p>
<%= link_to image_tag("map-mojatatu.png")%>
</p>
