<h1>Products & Services</h1>
<ul>
  <li>Mojatatu Networks delivers Network Operating System for SDN and acts as a one-stop shop for both the development and the operating environment</li>
  <li>The Mojatatu Network OS provides flexibility to customers developing a Network Element to reduce their adoption costs and focus on their core application</li>
  <li>The Mojatatu SDN SDK allows building both control plane and datapath applications for Network Element which is distributed and highly available</li>
  <li>The Mojatools toolset provides independent Network Element development which complements both the Mojatatu NetOS and SDK</li>
</ul>
